{
    "A" : "T",
    "B" : "T",
    "C" : "U",
    "D" : "U",
    "E" : "Q",
    "F" : "Q",
    "G" : "Q",
    "H" : "Q",
    "I" : "W",
    "J" : "W",
    "K" : "W",
    "L" : "W",
    "M" : "X",
    "N" : "X",
    "O" : "X",
    "P" : "X",
    "Q" : "Z",
    "R" : "Z",
    "S" : "Z",
    "T" : "Z",
    "U" : "Z",
    "V" : "Z",
    "W" : "Z",
    "X" : "Z",
    "Y" : "Z",
    "Z" : "Z"
}